.scrollContainer {
    display: flex;
    gap: 3rem;
    white-space: nowrap;
    animation: scroll 25s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-50% - 1.5rem));
    }
  }
  
  .scrollContainer:hover {
    animation-play-state: paused;
  }
  
  